:root {
    --primary:#00a7e1;
    --secondary: #00a7e1;   
    --text: black;
    --bg: #fafafa;
    --bg2:  #f8f8f8;
    --shadow: rgba(0, 0, 0, 0.15);
    --gray : rgb(207, 210, 214);
    --white:  white;
    --subtext : #ffffff59;
    --black: black;

}

:root:has(.dark) {
    --primary:#00a7e1;
    --secondary: #ffd12e;   
    --text: #ffffff;        
    --bg: #1f1f1f;          
    --bg2: #2c2c2c;         
    --shadow: rgba(255, 255, 255, 0.15); 
    --gray: #a0aec0; 
    --black: black;
 



}
